div.element-container.css-1nymawf.e1tzin5v3{
    background-color: whitesmoke;
    border : 0.8px solid black;
    border-radius: 5px ;
}

div.css-1kyxreq.etr89bj2{
    background-color: whitesmoke;
    border : 0.8px solid black;
    border-radius: 1px ;
}
